[Unit]
Description=DAPNET2APRS Service
After=syslog.target network.target

[Service]
Type=simple
PermissionsStartOnly=true
ExecStartPre=/sbin/iptables -A OUTPUT -p tcp --dport 8080 -j ACCEPT
ExecStartPre=/sbin/iptables -A OUTPUT -p tcp --dport 3306 -j ACCEPT
ExecStart=/usr/local/bin/DAPNET2APRSNotifier
User=mmdvm

[Install]
WantedBy=multi-user.target
